@if (overlay()) {
    <div class="fixed inset-0 bg-black/50 dark:bg-black/70 flex items-center justify-center z-50">
        <div
            class="animate-spin rounded-full border-4 border-border border-t-primary {{
                sizeClass()
            }}"
        ></div>
    </div>
} @else {
    <div class="flex items-center justify-center">
        <div
            class="animate-spin rounded-full border-4 border-border border-t-primary {{
                sizeClass()
            }}"
        ></div>
    </div>
}
